{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | 500 Erreur du serveur{% endblock %}

{% block content_body %}
    <div style="margin-left: 350px; margin-top: 100px;">
        <h1>500 Erreur du serveur</h1>
        <p>Une erreur serveur est survenue lors de traitement de l'action</p>
    </div>
{% endblock %}