{% extends "AppBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | 403 Accès refusé{% endblock %}

{% block content_body %}
    <div style="margin-left: 350px; margin-top: 100px;">
        <h1>403 Accès refusé</h1>
        <p>Vous ne pouvez pas accéder à cette page.</p>
    </div>
{% endblock %}